.app {
  padding: 40px;
}

.profile {
  text-align: center;
  margin-bottom: 10px;
}

.profile-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
  -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
  box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
  margin-bottom: 10px;
}

.profile-name {
  font-size: 28px;
}

.navigation {
  text-align: center;
}

.body {
  max-width: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.latex sub, .latex sup {
  text-transform: uppercase;
}

.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex, .latex sub {
  font-size: 1rem;
  font-family: monospace;
  font-style: italic;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
